.today {
  color: #fff;
  font-family: 'Nunito', sans-serif;
    h3 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
        span {
          font-size: 14px;
        }
    }
    h1 {
      font-size: 20px;
      opacity: .9;
      margin: 0;
      margin-top: 5px;
      font-weight: 600;
    }
}